@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke{
  -webkit-text-stroke: 0.5px black;
}

body::-webkit-scrollbar {
  display: none;
}
.scroll-content {
  animation: autoscroll 45s linear infinite; /* Adjust the animation duration as needed */
  animation-timing-function: linear; /* Ensure smooth scrolling */
}
@keyframes autoscroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}